<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="lab.galaxy.yahfa.demoPlugin">

    <application
        android:hasCode="false"
        android:label="@string/app_name">
        <meta-data
            android:name="yahfa.hook.plugin"
            android:value="true" />
    </application>

</manifest>
